.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #2980b9;
    padding: 10px 20px;
}

.logo {
    display: flex;
    align-items: center;
    color: white;
}



.nav-links a {
    color: white;
    margin-left: 20px;
    text-decoration: none;
    font-size: 18px;
}

.nav-links a:hover {
    text-decoration: underline;
}
/* Đặt bố cục chính */
.container {
    display: flex;
    height: 100vh;
}

/* Sidebar ở cột trái */
.sidebar {
    width: 250px;
    background-color: #2980b9;
    padding: 20px;
    color: white;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.sidebar h2 {
    text-align: center;
    margin-bottom: 30px;
    font-size: 22px;
}

.sidebar button {
    padding: 10px;
    margin-bottom: 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
    text-align: left;
    width: 100%;
}

.sidebar button:hover {
    background-color: #2980b9;
}

/* Nội dung chính */
.main-content {
    flex: 1;
    padding: 20px;
    background-color: #ecf0f1;
    overflow-y: auto;
}

#title {
    text-align: center;
    margin-bottom: 30px;
    color: #333;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}


th, td {
    padding: 12px;
    text-align: left;
}

th {
    background-color: #3498db;
    color: white;
}

td {
    background-color: white;
}

/* Form */
form {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 600px;
    margin: 20px auto;
}

form h2 {
    text-align: center;
    color: #333;
    margin-bottom: 20px;
}

form table {
    width: 100%;
}

form table td {
    padding: 10px;
}

form table input[type="text"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 16px;
}

form input[type="submit"] {
    background-color: #2ecc71;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    display: block;
    margin: 20px auto 0;
    transition: background-color 0.3s;
}

form input[type="submit"]:hover {
    background-color: #27ae60;
}

/* Responsive */
@media (max-width: 768px) {
    .container {
        flex-direction: column;
    }

    .sidebar {
        width: 100%;
        padding: 10px;
        box-shadow: none;
    }

    .main-content {
        padding: 10px;
    }
}
